# -*- mode: conf-unix -*-
[alias]
	a = add
	aa = add -A
	c = commit
	ca = commit -a
	d = diff
	ds = diff --staged
	graph = log --oneline --decorate --graph --all
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
	last = log -1 HEAD --show-signature --stat
	pl = pull
	pu = push
	s = status -sb
	unstage = reset HEAD --
[core]
	attributesfile = ~/.gitattributes
	autocrlf = input
	editor = nano
	excludesFile = ~/.gitignore
	symlinks = true
[commit]
	gpgsign = true
[diff "lesspipe"]
	binary = true
	cachetextconv = true
	textconv = LESSQUIET=1 lesspipe.sh
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
	defaultKeyCommand = ssh-add -L
[include]
	path = .gitconfig.local
[pull]
	rebase = false
[tag]
	gpgSign = true
