# -*- mode: conf-unix -*-
[alias]
	a = add
	aa = add -A
	br = branch
	c = commit
	ca = "!git add -A && git commit"
	co = checkout
	d = diff
	ds = diff --staged
	f = fetch --prune
	graph = log --oneline --decorate --graph --all
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
	last = log -1 HEAD --show-signature --stat
	license = "!f() { curl -sL https://api.github.com/licenses/$1 | jq -rj '.body'; }; f"
	pl = pull --prune
	pu = push --follow-tags
	puf = push --force-with-lease --follow-tags
	s = status -sb
	sync = "!git pull && git push"
	unstage = reset HEAD --
	update = "!f() { git fetch origin && git rebase origin/$1 --committer-date-is-author-date; }; f"
[core]
	attributesfile = ~/.gitattributes
	autocrlf = input
	editor = nano
	excludesFile = ~/.gitignore
	symlinks = true
	compression = 9
	packedGitLimit = 512m
	packedGitWindowSize = 512m
[commit]
	gpgsign = true
[diff "lesspipe"]
	binary = true
	cachetextconv = true
	textconv = LESSQUIET=1 lesspipe.sh
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
	defaultKeyCommand = ssh-add -L
[include]
	path = .gitconfig.local
[pull]
	rebase = false
[tag]
	gpgSign = true
[http]
	postBuffer = 157286400
[push]
	autoSetupRemote = true
[github]
	user = egelja
[pack]
	deltaCacheSize = 2047m
	packSizeLimit = 2047m
	windowMemory = 2047m
[merge]
	conflictStyle = diff3
