# Common settings that generally should always be used with your language specific settings

# Auto detect text files and perform LF normalization
# https://www.davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
*          text=auto

#
# The above will handle all files NOT found below
#

# Documents
*.bibtex   text diff=bibtex
*.doc      diff=lesspipe
*.DOC      diff=lesspipe
*.docx     diff=lesspipe
*.DOCX     diff=lesspipe
*.dot      diff=astextplain
*.DOT      diff=astextplain
*.pdf      diff=lesspipe
*.PDF      diff=lesspipe
*.rtf      diff=lesspipe
*.RTF      diff=lesspipe
*.md       text
*.tex      text diff=tex
*.adoc     text
*.textile  text
*.mustache text
*.csv      text
*.tab      text
*.tsv      text
*.txt      text
*.sql      text

*.odt      diff=lesspipe
*.xls      diff=lesspipe
*.xlsx     diff=lesspipe
*.ppt      diff=lesspipe
*.pptx     diff=lesspipe
*.epub     diff=lesspipe

# Graphics
*.png      binary diff=lesspipe
*.jpg      binary diff=lesspipe
*.jpeg     binary diff=lesspipe
*.gif      binary diff=lesspipe
*.tif      binary
*.tiff     binary
*.ico      binary
# SVG treated as an asset (binary) by default.
*.svg      text
# If you want to treat it as binary,
# use the following line instead.
# *.svg    binary
*.eps      binary

# Scripts
*.bash     text eol=lf
*.fish     text eol=lf
*.sh       text eol=lf
# These are explicitly windows files and should use crlf
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf

# Serialisation
*.json     text
*.toml     text
*.xml      text
*.yaml     text
*.yml      text

# Archives
*.7z       binary diff=lesspipe
*.gz       binary diff=lesspipe
*.ja{r,}   binary diff=lesspipe
*.rar      binary diff=lesspipe
*.tar      binary diff=lesspipe
*.tgz      binary diff=lesspipe
*.zip      binary diff=lesspipe

# Text files where line endings should be preserved
*.patch    -text

#
# Exclude files from exporting
#

.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore

