# -*- mode: conf-unix -*-
[core]
	excludesFile = ~/.gitignore
	autocrlf = input
	attributesfile = ~/.gitattributes
	editor = nano
	symlinks = true
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[tag]
	gpgSign = true
[pull]
	rebase = false
[include]
	path = .gitconfig.local
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
	defaultKeyCommand = ssh-add -L
[diff "lesspipe"]
	textconv = LESSQUIET=1 lesspipe.sh
	binary = true
	cachetextconv = true
